@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

:root {
  interpolate-size: allow-keywords;
  --background: #ffffff;
  --clr-primary: hsl(0, 0%, 100%);
  --clr-secondary: #113629;
  /* --clr-accent: #f4c50b; */
  --clr-accent: #f1c30c;
  --clr-accent-muted: #8d7207;
  --clr-accent-3: hsla(159, 51%, 14%, 0.8);
  --clr-color-2: #ececec;
  --clr-color-3: #faf8ec;
  --clr-color-4: #f1ffeb;
  --clr-color-5: #f1ffea8f;
  --clr-text-shadow: rgba(17, 54, 41, 0.8);
}

@theme inline {
  --font-urbanist: 'Urbanist', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --bg-img: '../../public/images/BgImg.png';
  /* --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Urbanist, sans-serif;
}

.test {
  height: 10svh;
  width: 100%;
  background: var(--clr-secondary);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@layer utilities {
  .button-primary {
    @apply flex items-center justify-center bg-(--clr-accent) rounded-md text-(--clr-secondary) font-semibold leading-tight px-8 py-2 cursor-pointer;
  }

  .button-hover-light {
    @apply hover:bg-(--clr-secondary) hover:text-white;
  }

  .image-frame {
    @apply border-[5px] border-(--clr-color-2);
  }

  .opens {
    @apply rotate-180 duration-1000;
  }

  .closes {
    @apply rotate-180 duration-1000;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .isExpandedText {
    @apply text-(--clr-secondary) font-semibold;
  }

  .shadow-green {
    @apply text-shadow-(--clr-secondary);
  }
}
